//  color 
$muted:                 #4E4E4E;
$orange:                #D94E3B;
$black:                 #000;
$white:                 #fff;
$ligh_orange:           #FFF1F1;
$red:                   #C20006;
$info:                  #0275FF;
$border_color:          rgba(0, 0, 0, .12);
$orange_dark:           #FC695C;
$ice_white:             rgb(255, 241, 241);