<div class="">
    <div class="confirm_dialog">
        <div class="icon_leftside_box col-md-4">
            <div>
                <img src="assets/images/block_icon.svg" alt="">
            </div>
        </div>
        <div class="col-md-8 right_box">
            <h1 class="mat_title">Are you sure you want to delete?</h1>
            <div mat-dialog-actions>
                <button class="delete-button"  [mat-dialog-close]="true">Yes</button>
                <button  class="cancel-button" [mat-dialog-close]>Cancel</button>
            </div>
        </div>
    </div>
    
</div>